footer(role='contentinfo')
  .row
    .row-content.buffer.clear-after
      section#top-footer
        .widget.column.three
          h4 #{__('contact')}
          ul.plain
            li #{__('contact.address.key')}：!{settings.find(n => n.key == 'address').value}
            li #{__('contact.phone.key')}：!{settings.find(n => n.key == 'phone').value}
            li #{__('contact.phone2')}：!{settings.find(n => n.key == 'email').value}
            li
              a(href='https://my.safmarine.com/schedules/#?from=2IW9P6J7XAW72&to=0FC4MM5Y0O0Z2&fromServiceMode=CY&toServiceMode=CY&date=2018-02-03&dateType=D&numberOfWeeks=4&containerIsoCode=42G1&vesselFlag=') SAF 路径查询
        .widget.column.three
        .widget.column.three
        .widget.meta-social.column.three
          h4 #{__('qrcode')}
          ul.inline
            li
              img(src='/img/erweima.jpg', width='130')
      section#bottom-footer
        p.keep-left
          | © 2016 
          a(href='javascript:;', alt='Mokaine Lab') 备案号
          | . 备案声明.
        p.keep-right 版权所有声明.
.floating
  a.content(href="/bullet")
    .title #{settings.find(n => n.key == 'adver')?settings.find(n => n.key == 'adver').value:''}
    p.desc
      !{settings.find(n => n.key == 'adver_desc')?settings.find(n => n.key == 'adver_desc').value:''}
  .show 
    i.fa.fa-angle-double-left
script(src='/js/app.js')