doctype html
html(lang='en')
  include includes/head
  body.page
    include includes/header
    
    main(role='main')
      #intro-wrap(data-height='22.222')
        #intro.preload.darken
          .intro-item(style='background-image: url(img/banner/banner1.jpg);')
            //- .caption
            //-   h2 Steve Jobs
            //-   p To live is to change the world.
            // caption
          // intro
        // intro
      // intro-wrap
      #main
        section.row.section
          .row-content.buffer.even.clear-after
            .section-title
              h3 #{__('contact')}
            p #{__('contact.address.key')}：#{__('contact.address')}
            p #{__('contact.phone.key')}：#{__('contact.phone')}
            p #{__('contact.phone2')}
      // id-main
    // main
    include includes/footer
    script(src='js/plugins.js')
    script(src='js/beetle.js')
